# Зависимости Node.js
node_modules/
package-lock.json

# Сборки и кэши Electron
dist/
dist_win/
dist_mac/
dist_mac_admin/
out/
build/
release/
*.asar
*.asar.unpacked

# Бинарные релизы и архивы
*.exe
*.dmg
*.pkg
*.deb
*.rpm
*.zip
*.tar.gz
*.lzma

# Сборки Java / Моды (если случайно попали)
*.jar
*.class

# Логи и сессии
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
session-tickets.json
debug-logs/
crash-reports/

# Системные файлы macOS и Windows
.DS_Store
Thumbs.db
*.db
*.sqlite
